

<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		<img class="retina bg" src="../_common/images/<%= size %>/<%= name %>/bg.png" />
<!-- <img class="retina" src="../_common/images/<%= size %>/<%= name %>/f2.png" /> -->

<img class="retina _swirl scale" src="../_common/images/<%= size %>/<%= name %>/swirl.png" />
<img class="retina _swirl2 scale" src="../_common/images/<%= size %>/<%= name %>/swirl2.png" />

<img class="retina _lime scale" src="../_common/images/<%= size %>/<%= name %>/lime.png" />
<img class="retina _lime2 scale" src="../_common/images/<%= size %>/<%= name %>/lime2.png" />
<img class="retina _lime3 scale" src="../_common/images/<%= size %>/<%= name %>/lime3.png" />

<img class="retina _lemon scale" src="../_common/images/<%= size %>/<%= name %>/lemon.png" />
<img class="retina _lemon2 scale" src="../_common/images/<%= size %>/<%= name %>/lemon2.png" />
<img class="retina _lemon3 scale" src="../_common/images/<%= size %>/<%= name %>/lemon3.png" />



<img class="retina _lemon-ring scale" src="../_common/images/<%= size %>/<%= name %>/lemon-ring.png" />



<img class="retina" src="../_common/images/<%= size %>/<%= name %>/hand.png" />
<img class="retina t1" src="../_common/images/<%= size %>/<%= name %>/t1.png" />
<img class="retina t2 scale" src="../_common/images/<%= size %>/<%= name %>/t2.png" />
<img class="retina cta" src="../_common/images/<%= size %>/<%= name %>/cta.png" />

<img class="retina legal" src="../_common/images/<%= size %>/<%= name %>/legal.png" />
	</div>

	
	

	
	
	
	
</div>

