
		<img class="retina t1" src="../_common/images/<%= size %>/<%= name %>/t1.png" />
		<img class="retina t2 scale" src="../_common/images/<%= size %>/<%= name %>/t2.png" />
		<img class="retina cta" src="../_common/images/<%= size %>/<%= name %>/cta.png" />
		<img class="retina hand" src="../_common/images/<%= size %>/<%= name %>/hand.png" />
		<img class="retina legal" src="../_common/images/<%= size %>/<%= name %>/legal.png" />
		<img class="retina _lemon-main fruit-main scale" src="../_common/images/<%= size %>/<%= name %>/lemon-main.png" />	
	</div>

	
	

	
	
	
	
</div>

