






<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		<!-- <img class="" src="../_common/images/<%= size %>/<%= name %>/frame1.png" /> -->
		<!-- <img class="retina t2" src="../_common/images/<%= size %>/<%= name %>/t2.png" /> -->
		<img class="retina logo" src="../_common/images/<%= size %>/<%= name %>/logo.png" />		
		<img class="retina bg" src="../_common/images/<%= size %>/<%= name %>/bg.png" />
		<img class="retina cta" src="../_common/images/<%= size %>/<%= name %>/cta.png" />
		
		
		<img class="retina legal" src="../_common/images/<%= size %>/<%= name %>/legal.png" />
		<img class="retina _swirl scale" src="../_common/images/<%= size %>/<%= name %>/swirl.png" />
		<img class="retina _lime-bottom scale" src="../_common/images/<%= size %>/<%= name %>/lime-bottom.png" />
		<img class="retina _lime-top scale" src="../_common/images/<%= size %>/<%= name %>/lime-top.png" />
		<img class="retina _lemon-top scale" src="../_common/images/<%= size %>/<%= name %>/lemon-top.png" />
		<img class="retina _lemon-ring scale" src="../_common/images/<%= size %>/<%= name %>/lemon-ring.png" />
		<img class="retina _lemon-left scale" src="../_common/images/<%= size %>/<%= name %>/lemon-left.png" />
		<img class="retina _lemon-main scale" src="../_common/images/<%= size %>/<%= name %>/lemon-main.png" />	
		<img class="retina t1 scale" src="../_common/images/<%= size %>/<%= name %>/t1.png" />
		<img class="retina t2 scale" src="../_common/images/<%= size %>/<%= name %>/t2.png" />
		<img class="retina hand" src="../_common/images/<%= size %>/<%= name %>/hand.png" />
	</div>

	
	

	
	
	
	
</div>

